<ion-header>
  <ion-toolbar>
    
    <ion-title>
      <form [formGroup]="subredditForm">
        <ion-searchbar formControlName="subredditControl"  placeholder="Enter Subreddit Name..."></ion-searchbar> 
      </form>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="openSettings()">  
        <ion-icon slot="icon-only" name="settings"></ion-icon>  
      </ion-button>
    </ion-buttons> 

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list no-lines>

    <div tappable *ngFor="let post of posts;let i=index" (click)="toggleVideo($event)">
      <ion-item>
        <video loop [src]="post.url" [poster]="post.snapshot">
        </video>
      </ion-item>
      <ion-list-header style="text-align: left;" (click)="showComments($event, post)">
        <ion-label> <small>{{ i+1 }}</small>{{post.data.title}}</ion-label>
        <ion-buttons>
            <ion-button (click)="addToFavorites($event, post)"> 
                <ion-icon [name]="isFavourite(post)" slot="icon-only"></ion-icon> 
            </ion-button>
        </ion-buttons>
      </ion-list-header>
    </div>

    <ion-item *ngIf="loading" no-lines style="text-align: center;">
      <ion-spinner name="lines-small"></ion-spinner>
    </ion-item>

  </ion-list>

  <ion-button color="light" expand="full" (click)="loadMore()">Load More...</ion-button>

</ion-content>
